archive/src/main/webapp/WEB-INF/services/IngestService/META-INF/FedoraIngestDatatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.hbz-nrw.de/FedoraIngestService/Datatypes" xmlns:tns="http://www.hbz-nrw.de/FedoraIngestService/Datatypes"
	targetNamespace="http://www.hbz-nrw.de/FedoraIngestService/Datatypes">



	<!-- Alle Knoten des generischen Modells sind von diesem Typ abgeleitet. 
		In einer objektorientierten Sprache wird der Node als Klasse umgesetzt. Die 
		Felder werden als Attribute umgesetzt. Die Information, dass es sich um eine 
		sequence handelt geht verloren. @author Jan Schnasse, schnasse@hbz-nrw.de -->
	<xsd:complexType name="Node">
		<xsd:sequence>
			<!-- FOXML -->
			<xsd:element name="label" type="xsd:string" minOccurs="0" />
			<xsd:element name="PID" type="xsd:string" minOccurs="0" />
			<xsd:element name="state" type="xsd:string" minOccurs="0" />
			<xsd:element name="datastreamId" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="datastreamType" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="contentURL" type="xsd:string"
				minOccurs="0" />
			<!-- DUBLIN CORE -->
			<xsd:element name="Creator" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Subject" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Title" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Publisher" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Contributer" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Date" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Type" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Format" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Identifier" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Source" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Language" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Relation" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Coverage" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Rights" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<!-- HBZ Model -->
			<xsd:element name="nodeType" type="xsd:string" minOccurs="0" />
			<xsd:element ref="RELS-EXT" minOccurs="0" />
			<xsd:element ref="ParentObjects" minOccurs="0" />
			<xsd:element name="namespace" type="xsd:string"
				minOccurs="0" />
			<!-- ContentModel -->
			<xsd:element ref="ContentModels" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>

	<xsd:complexType name="RootObject">
		<xsd:complexContent>
			<xsd:extension base="Node">

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	
	<xsd:element name="RELS-EXT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="child"
					type="Link" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="Link">
		<xsd:sequence>
			<xsd:element name="predicate" type="xsd:string" />
			<xsd:element name="object" type="xsd:string" />
			<xsd:element name="isLiteral" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ParentObjects">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="objectPid" type="xsd:string"
					maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentModels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContentModel" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ContentModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PrescribedDSs" minOccurs="0" />
				<xsd:element ref="Methods" minOccurs="0" />
				<xsd:element name="ContentModelPID" type="xsd:string" />
				<xsd:element name="ServiceDefinitionPID" type="xsd:string"
					minOccurs="0" />
				<xsd:element name="ServiceDeploymentPID" type="xsd:string"
					minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PrescribedDSs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PrescribedDS" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="Methods">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Method" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PrescribedDS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dsid" type="xsd:string" />
				<xsd:element name="formatUri" type="xsd:string" />
				<xsd:element name="mimeType" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="Method">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="methodName" type="xsd:string" />
				<xsd:element name="serviceLocation" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="Tree">
		<xsd:sequence>
			<xsd:element name="root" type="TreeNode" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TreeNode">
		<xsd:sequence>
			<xsd:element name="me" type="Node" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="child" type="TreeNode" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StringArray">
		<xsd:sequence>
			<xsd:element name="strings" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
