archive/src/main/webapp/WEB-INF/services/IngestService/META-INF/IngestService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.hbz-nrw.de/IngestService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IngestService"
	targetNamespace="http://www.hbz-nrw.de/IngestService/">
	<!--@author Jan Schnasse, schnasse@hbz-nrw.de -->
	<!-- TYPES -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.hbz-nrw.de/IngestService/"
			xmlns:dtypes="http://www.hbz-nrw.de/FedoraIngestService/Datatypes">

			<xsd:import namespace="http://www.hbz-nrw.de/FedoraIngestService/Datatypes"
				schemaLocation="FedoraIngestDatatypes.xsd" />


			<xsd:element name="getPids">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="namespace" type="xsd:string"></xsd:element>
						<xsd:element name="number" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPidsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:StringArray"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createComplexObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="dtypes:Tree"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
           <xsd:element name="createComplexObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:RootObject" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="createObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:RootObject" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createNode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createNodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:Node"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="deleteObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteNode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteNodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="readObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="readObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:RootObject"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="readNode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="readNodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="dtypes:Node"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="readFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="readFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="dtypes:RootObject"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateNode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="dtypes:Node">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateNodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			

		</xsd:schema>

	</wsdl:types>

	<!-- MESSAGES -->
	
	<wsdl:message name="getPidsRequest">
		<wsdl:part name="parameters" element="tns:getPids"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getPidsResponse">
		<wsdl:part element="tns:getPidsResponse" name="parameters" />
	</wsdl:message> 
	
    <wsdl:message name="createComplexObjectRequest">
		<wsdl:part name="parameters" element="tns:createComplexObject"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createComplexObjectResponse">
		<wsdl:part element="tns:createComplexObjectResponse" name="parameters" />
	</wsdl:message>


	<wsdl:message name="createObjectRequest">
		<wsdl:part name="parameters" element="tns:createObject"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createObjectResponse">
		<wsdl:part element="tns:createObjectResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="createNodeRequest">
		<wsdl:part name="parameters" element="tns:createNode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createNodeResponse">
		<wsdl:part name="parameters" element="tns:createNodeResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="deleteObjectRequest">
		<wsdl:part name="parameters" element="tns:deleteObject"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteObjectResponse">
		<wsdl:part name="parameters" element="tns:deleteObjectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteNodeRequest">
		<wsdl:part name="parameters" element="tns:deleteNode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteNodeResponse">
		<wsdl:part name="parameters" element="tns:deleteNodeResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="readObjectRequest">
		<wsdl:part name="parameters" element="tns:readObject"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="readObjectResponse">
		<wsdl:part name="parameters" element="tns:readObjectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="readNodeRequest">
		<wsdl:part name="parameters" element="tns:readNode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="readNodeResponse">
		<wsdl:part name="parameters" element="tns:readNodeResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="readFault">
		<wsdl:part name="parameters" element="tns:readFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObjectRequest">
		<wsdl:part name="parameters" element="tns:updateObject"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateObjectResponse">
		<wsdl:part name="parameters" element="tns:updateObjectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateNodeRequest">
		<wsdl:part name="parameters" element="tns:updateNode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateNodeResponse">
		<wsdl:part name="parameters" element="tns:updateNodeResponse"></wsdl:part>
	</wsdl:message>
	

	<!-- PORTS -->
	<wsdl:portType name="IngestService">

		<wsdl:operation name="getPids">
			<wsdl:input message="tns:getPidsRequest" />
			<wsdl:output message="tns:getPidsResponse" />
			<wsdl:fault name="fault" message="tns:readFault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="createComplexObject">
			<wsdl:input message="tns:createComplexObjectRequest" />
			<wsdl:output message="tns:createComplexObjectResponse" />
			<wsdl:fault name="fault" message="tns:readFault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="createObject">
			<wsdl:input message="tns:createObjectRequest" />
			<wsdl:output message="tns:createObjectResponse" />
		</wsdl:operation>
		<wsdl:operation name="createNode">
			<wsdl:input message="tns:createNodeRequest"></wsdl:input>
			<wsdl:output message="tns:createNodeResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="deleteObject">
			<wsdl:input message="tns:deleteObjectRequest"></wsdl:input>
			<wsdl:output message="tns:deleteObjectResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteNode">
			<wsdl:input message="tns:deleteNodeRequest"></wsdl:input>
			<wsdl:output message="tns:deleteNodeResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="readObject">
			<wsdl:input message="tns:readObjectRequest"></wsdl:input>
			<wsdl:output message="tns:readObjectResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:readFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="readNode">
			<wsdl:input message="tns:readNodeRequest"></wsdl:input>
			<wsdl:output message="tns:readNodeResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:readFault"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="updateObject">
			<wsdl:input message="tns:updateObjectRequest"></wsdl:input>
			<wsdl:output message="tns:updateObjectResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateNode">
			<wsdl:input message="tns:updateNodeRequest"></wsdl:input>
			<wsdl:output message="tns:updateNodeResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>


	<!-- BINDING -->
	<wsdl:binding name="IngestServiceSOAP" type="tns:IngestService">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="getPids">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/getPids" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation> 
		
	<wsdl:operation name="createComplexObject">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/createComplexObject" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation> 
		
		<wsdl:operation name="createObject">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/createObject" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createNode">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/createNode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		


		<wsdl:operation name="deleteObject">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/deleteObject" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteNode">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/deleteNode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		


		<wsdl:operation name="readObject">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/readObject" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="readNode">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/readNode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	



		<wsdl:operation name="updateObject">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/updateObject" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateNode">
			<soap:operation soapAction="http://www.hbz-nrw.de/IngestService/updateNode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>


	<wsdl:service name="IngestService">
		<wsdl:port binding="tns:IngestServiceSOAP" name="IngestServiceSOAP">
			<soap:address location="http://localhost:8080/" />
		</wsdl:port>
	</wsdl:service>



</wsdl:definitions>
